.selectContainer {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  padding-right: 32px; /* Make room for the dropdown arrow */
  padding-left: 12px;
  gap: 4px;
  border: 1px solid var(--color-border);
  box-shadow: 0 1px 3px 0 var(--color-shadow);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  background-color: var(--color-white);
  appearance: none;
  cursor: pointer;
}

.select:focus {
  outline: none;
  border: 1px solid var(--color-border-focus);
  box-shadow: inset 0 0 0 1px var(--color-border-focus),
    0 0 0 2px var(--color-shadow-focus);
}

.select.error {
  border: 1px solid var(--color-border-error);
  background: var(--color-error-background);
  box-shadow: 0 1px 3px 0 var(--color-shadow);
  padding-right: 40px;
}

.select.error:focus {
  background: var(--color-background);
  border: 1px solid var(--color-border-error);
  box-shadow: inset 0 0 0 1px var(--color-border-error),
    0 0 0 2px var(--color-shadow-error);
}

.select.disabled {
  background: var(--color-disabled-background);
  border: 1px solid var(--color-border-disabled);
  box-shadow: 0 1px 3px 0 var(--color-shadow);
  cursor: not-allowed;
}

.withError {
  right: 30px !important;
}

/* Arrow styles for different states */
.arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 10px;
  height: 5px;
  pointer-events: none;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background-color: var(--color-icon-arrow);
  border-radius: 1px;
  top: 50%;
}

.arrow::before {
  left: 0;
  transform: rotate(45deg) translateY(-50%);
}

.arrow::after {
  right: 0;
  transform: rotate(-45deg) translateY(-50%);
}

.select.error + .arrow::before,
.select.error + .arrow::after {
  background-color: var(--color-icon-arrow);
}

.select.disabled + .arrow::before,
.select.disabled + .arrow::after {
  background-color: var(--color-icon-arrow);
  opacity: 0.7;
}

.select:focus + .arrow::before,
.select:focus + .arrow::after {
  background-color: var(--color-icon-arrow);
}

/* Style for the placeholder option */
.select.empty {
  color: var(--color-placeholder);
}

.select option {
  color: var(--color-text);
}
