.inputContainer {
  position: relative;
  width: 100%;
}

.textField {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  padding-right: 12px;
  padding-left: 12px;
  gap: 4px;
  border: 1px solid var(--color-border);
  box-shadow: 0 1px 3px 0 var(--color-shadow);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
}

.textField:focus {
  outline: none;
  border: 1px solid var(--color-border-focus);
  box-shadow: inset 0 0 0 1px var(--color-border-focus),
    0 0 0 2px var(--color-shadow-focus);
}

.textField.error {
  border: 1px solid var(--color-border-error);
  background: var(--color-error-background);
  box-shadow: 0 1px 3px 0 var(--color-shadow);
  padding-right: 40px; /* Make room for the error icon */
}

.textField.error:focus {
  background: var(--color-background);
  border: 1px solid var(--color-border-error);
  box-shadow: inset 0 0 0 1px var(--color-border-error),
    0 0 0 2px var(--color-shadow-error);
}

.textField.disabled {
  background: var(--color-disabled-background);
  border: 1px solid var(--color-border-disabled);
  box-shadow: 0 1px 3px 0 var(--color-shadow);
  cursor: not-allowed;
}

.textField::placeholder {
  color: var(--color-placeholder);
}
