.checkboxContainer {
  display: flex;
  align-items: flex-start;
}

.checkboxWrapper {
  position: relative;
  display: inline-block;
  min-width: 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  gap: 10px;
  background: var(--color-white);
  cursor: pointer;
  margin-top: 3px;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 1;
}

.checkboxCustom {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background: var(--color-white);
  border: 1px solid var(--color-text-tertiary);
  box-sizing: border-box;
}

/* Selected state */
.checkboxWrapper.checked .checkboxCustom {
  gap: 8px;
  padding: 5px;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.checkboxWrapper.checked .checkboxCustom::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 4px;
  height: 9px;
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Focused Checked state */
.checkboxInput:focus + .checkboxCustom {
  box-shadow: 0 0 0 1px var(--color-white), 0 0 0 2px var(--color-focus-border),
    0 0 0 3px var(--color-shadow-focus);
}

.checkboxInput.checked:focus + .checkboxCustom {
  background: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-focus-border),
    0 0 0 3px var(--color-shadow-focus);
}

/* Disabled Checked state */
.checkboxWrapper.disabled.checked .checkboxCustom {
  background: var(--color-disabled-background);
  border: 1px solid var(--color-border);
}

.checkboxWrapper.disabled.checked .checkboxCustom::after {
  border-color: var(--color-border);
}

/* Disabled empty state */
.checkboxWrapper.disabled .checkboxCustom {
  /*gap: 10px;*/
  background: var(--color-disabled-background);
  border: 1px solid var(--color-border);
}

/* Error empty state */
.checkboxWrapper.error .checkboxCustom {
  /*gap: 10px;*/
  background: var(--color-white);
  border: 1px solid var(--color-error);
}

.checkboxInput.error:focus + .checkboxCustom {
  box-shadow: 0 0 0 1px var(--color-white), 0 0 0 2px var(--color-error),
    0 0 0 3px var(--color-shadow-error);
}

.checkboxWrapper.checked.error .checkboxCustom::after {
  border-color: var(--color-error);
}

.checkboxLabel {
  margin-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  cursor: pointer;
  word-break: break-word;
}

.checkboxLabel.error {
  color: var(--color-error);
}

.optional {
  color: var(--color-text-tertiary);
}
