.errorIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--color-border-error);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--color-error);
  background-color: transparent;
}
