.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  margin-bottom: 8px;
  word-break: break-word;
}

.optional {
  color: var(--color-text-tertiary);
}

.controlContainer {
  width: 100%;
}
